<%= form_with(model: comment, local: false, remote: true) do |form| %>
    <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= form.text_field :label, class:'input', placeholder:'Add a label...' %>
        </p>
      </div>
      <%if comment.errors.any? %>
        <div>
          <% comment.errors.full_messages_for(:label).each do |message| %>
            <li class="tag is-danger" ><%= message %></li>
          <% end %>
        </div>
      <% end %>

      <div class="field">
        <p class="control">
          <%= form.text_area :body, class:'textarea', placeholder:'Add a comment...' %>
        </p>
      </div>
      <%if comment.errors.any? %>
        <div>
          <% comment.errors.full_messages_for(:body).each do |message| %>
            <li class="tag is-danger" ><%= message %></li>
          <% end %>
        </div>
      <% end %>

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <button class="button is-info">Submit</button>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <label class="checkbox">
              
            </label>
          </div>
        </div>
      </nav>
    </div>
  </article>
  <br>
<% end %>
