<div class="column is-one-fifth"> 
  <%= form_tag do |form| %>
    <h2 class="subtitle is-4">Please Log in</h4>
    
    <div class="field">
      <div class="label">
        <%= label_tag :name %>
      </div>
      
      <div class="control">
        <%= text_field_tag :name, nil, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%= label_tag :password %>
      </div>
      
      <div class="control">
        <%= password_field_tag :password, nil, class: 'input' %>
      </div>
    </div>

    <div class="control">
      <button class="button is-link is-light"> Log In </button>
    </div>

    <br>
    <% if flash[:alert] %>
      <aside class="tag is-danger"><%= flash[:alert] %></aside>
    <% end %>
  <% end %>
</div>
