<div class="columns"> 
  <div class="column">
    <strong>Name:</strong>
    <div><%= @order.name %></div>
  </div>

  <div class="column">
    <strong>Address:</strong>
    <div><%= @order.address %></div>
  </div>

  <div class="column">
    <strong>email:</strong>
    <div><%= @order.email %></div>
  </div>

  <div class="column">
    <strong>Pay type:</strong>
    <div><%= @order.pay_type %></div>
  </div>
</div>
<hr>
<p> Products list: </p>
  <%= render (@order.line_items) %>
<hr>
<%= link_to 'Edit', edit_order_path(@order), class: 'button is-link' %>
<%= link_to 'Delete', order_path(@order),
  method: :delete, data: {confirm: "Are you sure?"}, class: 'button is-danger'  %>
<%= link_to 'Back', orders_path, class: 'button' %>
