<% if notice %>
  <div class="notification">
      <%= notice %>
  </div>
<% end %>

<h2>Your Pragmatic Cart</h2>
<%= link_to "Empty Cart", @cart, method: :delete, data:{ onfirm: "Are you sure about that?"}, class: 'button' %>
<ul>
  <% @cart.line_items.each do |item| %>
    <ul>
      <!--%= debug item %-->
      <li><%= item.product.title %></li>
      <li><%= item.quantity %></li>
      <li><%= item.price %></li>
      <%= link_to 'Remove Item', item, method: :delete, data: { confirm: 'Are you sure about that?' } %>
    </ul>
  <% end %>

  <div class="content-controls">
    <%= link_to 'Back', store_index_path, class: 'button is-primary' %>
  </div>
</ul>