<aside class="menu">
  <% unless session[:user_id] %>
    <p class="menu-label">
      Sign in
    </p>
    <ul class="menu-list">
      <li> <%= link_to 'Sign In', new_user_path %> </li>
    </ul>
    <ul class="menu-list">
      <li> <%= link_to 'Log In', login_path %> </li>
    </ul>
  <% end %>

  <% if session[:user_id] %>
    <p class="menu-label">
      Products
    </p>
    <ul class="menu-list">
      <li> <%= link_to 'New Product', new_product_path %> </li>
    </ul>
    <ul class="menu-list">
      <li><%= link_to 'Users', users_path %></li>
    </ul>
    <hr>

    <div id="cart">
      <%= render_if @cart && @cart.line_items.any?, @cart %>
    </div>
  <% end %>
  
  <!--ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul-->
</aside>