<p id="notice"><%= notice %></p>
<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>Products</strong>
      </p>
    </div>
  </div>
</nav>

<% cache @products do %> 
  <% @products.each do |product| %>
    <% cache product do %> 
      <div class="columns"> 
        <div class="column">
          <figure class="image is-128x128">
              <%= image_tag(product.image_url) %>
          </figure>
        </div>

        <div class="column is-four-fifths">
          <div><%= product.title %></div>
          <div><%= product.description %></div>
        </div>

        <div class="column">
          <%= link_to 'Edit', edit_product_path(product), class: 'button is-link' %>
          <%= link_to 'Show', product, class: 'button is-primary' %> 
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Product', new_product_path, class: 'button is-primary' %>
