<div class="columns"> 
  <div class="column is-one-third">
    <strong>Title:</strong>
    <div><%= @product.title %></div>
  </div>

  <div class="column is-half">
    <strong>Description:</strong>
    <div><%= @product.description %></div>
  </div>

  <div class="column">
    <figure class="image is-128x128">
        <%= image_tag(@product.image_url) %>
    </figure>
  </div>

  <div class="column">
    <strong>Price:</strong>
    <div><%= @product.price %></div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: 'button is-link' %>
<%= link_to 'Delete', product_path(@product),
  method: :delete, data: {confirm: "Are you sure?"}, class: 'button is-danger'  %>
<%= link_to 'Back', products_path, class: 'button' %>